{% extends 'app/base.html' %}


{% block body %}
<div class="card bg-light shadow mx-auto mt-5" style="width: 30rem;">
    <div class="card-body text-center">
      <h3 class="card-title text-center"><i>Login</i></h3>
      <p class="card-text"></p>
      <a href="/accounts/google/login/?process=login" class="btn btn-danger btn-google m-2">Sign in with  Google</a>
      <br>
  
      <a id="github-button" href="/accounts/github/login/?process=login" class="btn btn-block bg-dark text-white m-2 mx-auto" style="width: 200px;">
          <i class="fa fa-github"></i> Sign in with Github
      </a>
      
     
    </div>
  </div>
{% endblock body %}
    